*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* navigationbar */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.navbar-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.sizen{
    height:50px;
    width:120px;
    text-align: center;
    justify-content: center;
    display:grid;
    padding-top: 5px;
}
.sizep{
    padding-top: 5px;
    height: 27px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
/* addressbox */
.add1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 17px;
}
.add2{
    font-size:0.95rem;
    font-weight: bold;
}
.add-icon{
    display: flex;
}
/*searchbox*/

.nav-search{
    width: 620px;
    height: 40px;
    display: flex;
    justify-content:space-evenly;
    border-radius: 3px;
    background-color: magenta;
}
.nav-search:hover{
    border:2px solid rgb(250, 190, 25);
}
.select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
    border: none;
}
.search{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.searchicon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color:rgb(250, 190, 25);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border:none;
    color: #0f1111;
}
/* signin */
.sign1{
    color: #CCCCCC;
    font-size: 0.85rem;
}
.sign2{
    font-size:0.95rem;
    font-weight: bold;
}
/* returns and orders */
.orders1{
    color: #CCCCCC;
    font-size: 0.85rem;
}
.orders2{
    font-size:0.95rem;
    font-weight: bold;
}
.nav-cart{
    display: flex;
    align-items: center;
}
.nav-cart i{
    font-size: 28px;
}
.nav-cart p{
    font-size:0.95rem;
    font-weight: bold;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #FFFFFF ;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.95rem ;
}
.panel-all{
    width:100px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.panel-deals{
    width:255px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.panel-options{
    width: 100%;
}
.panel-options p{
    display: inline;
    margin-left: 8px;
}
/* herosection */
.hero-section{
    height: 350px;
    background-size: cover;
    background-image:url(hero_image.jpg) ;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color:white;
    color: #0f1111;
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    margin-bottom: 25px;
}
.hero-message a{
    color:#007185;
}
/* shopsection */
.shop-section{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height:350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.box-content p:hover{
    text-decoration: underline;
    color:  #007185;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    font-size: 0.95rem;
}
/* footer */
footer{
   margin-top: 15px; 
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
ul a{
    display: block;
    font-size: 0.95rem;
    margin-top: 7px;
    color: #CCCCCC;
}
ul p{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100px;
    height: 50px;
}
.foot-panel4{
    background-color:#0f1111;
    color: white;
    height: 80px;
     font-size: 0.95rem;
       text-align: center;
       margin-bottom: 5px;
}
.pages{
    padding-top:25px;
}
.copyright{
    padding-top: 5px; 
}
